<h1>{{title}}</h1>
<div class="epoch" ng-repeat="epoch in epochs | filterEpochs:status:epoch">
	<h2><input type="text" ng-model="epoch.name"></input>
	<a ng-click="finishEpoch(epoch)" class="done button" title="mark epoch as done">&#10003;</a>
	<a ng-click="deleteEpoch(epoch)" class="delete button" title="delete this epoch">&#10008;</a></h2>
	<table>
		<tbody>
			<tr ng-repeat="story in epoch.stories | filterStories:status | orderBy:'priority'" ng-click="goToStory(story.id)">
				<td class="priority">{{story.priority}}</td>
				<td class="brief">{{story.brief}}</td>
				<td class="time">{{story.time}}</td>
				<td class="status" onclick="event.stopPropagation()">
					<select ng-model="story.status">
						<option ng-repeat="status in statuses">{{status}}</option>
					</select>
				</td>
				<td class="delete" onclick="event.stopPropagation()">
					<a ng-click="deleteStory(story.id)" class="delete button" title="delete this story">&#10008;</a>
				</td>
		</tbody>
	</table>
	<a class="new story" ng-click="newStory(epoch)">New Story</a>
</div>
<a class="new epoch" ng-click="newEpoch()">New Epoch</a>
